Django
djangorestframework
djangorestframework-simplejwt
django-cors-headers

python-dotenv
PyJWT

numpy==2.3.2
pandas==2.3.1
scikit-learn==1.8.0
joblib==1.5.1

langchain
langchain-community
langchain_google_genai

google-generativeai
faiss-cpu
pypdf

gunicorn
whitenoise

psycopg2-binary