Django
djangorestframework
djangorestframework-simplejwt
django-cors-headers

psycopg2-binary
python-dotenv

numpy
pandas
scikit-learn
joblib

openai

langchain
langchain-community
langchain-openai

chromadb
faiss-cpu

pypdf
sentence-transformers

pytesseract
Pillow

openai-whisper
gTTS
google-generativeai

langchain_google_genai
PyJWT
gunicorn
whitenoise